In [4]:
import numpy as np
import pandas as pd

In [5]:
# Ques-3
# Part (a)
sr = pd.Series(['Madhuri','AjaySh@rma', 'R@ni', 'Radha',np.nan,'Smita','3567'])

In [6]:
sr.str.len()

0     7.0
1    10.0
2     4.0
3     5.0
4     NaN
5     5.0
6     4.0
dtype: float64

In [7]:
sr.str.replace("@","a")

0       Madhuri
1    AjaySharma
2          Rani
3         Radha
4           NaN
5         Smita
6          3567
dtype: object

In [8]:
sr.str.count('a')

0    1.0
1    2.0
2    0.0
3    2.0
4    NaN
5    1.0
6    0.0
dtype: float64

In [9]:
sr.str.swapcase()

0       mADHURI
1    aJAYsH@RMA
2          r@NI
3         rADHA
4           NaN
5         sMITA
6          3567
dtype: object

In [10]:
sr.str.findall('adh')

0    [adh]
1       []
2       []
3    [adh]
4      NaN
5       []
6       []
dtype: object

In [11]:
sr.str.endswith('i')

0     True
1    False
2     True
3    False
4      NaN
5    False
6    False
dtype: object

In [12]:
# Ques-3
# Part (b)
df = pd.DataFrame(np.random.randint(0,100,size=(7, 7)))

In [13]:
df

    0   1   2   3   4   5   6
0  31  10  38   9  21  50   0
1  64  11   2  24  79  75  22
2  87  29  90  67  85  89  47
3  89  47  60  53  32  35  98
4  68  82  32  35  68  84  15
5  57  41  93  61  99  54  15
6  19  68   9  47  15   1  38

In [28]:
# Compute the correlation of each rowwith the preceding row.
for i in range(1,7):
    print(df[i].corr(df[i-1]))

-0.03462118323226547
-0.07574222742430355
0.6880467430762371
0.4103382900728047
0.7370990765781009
-0.2751846485953888

In [17]:
x.argmin()

96

In [18]:
x.reshape(10,10)

array([[ 77, 143, 139, 104,  91, 102,  99,  87,  99, 147],
       [ 94, 136,  71, 114,  92,  71, 123,  72, 104,  79],
       [143,  76, 130,  89,  82, 110,  61,  69,  98,  75],
       [117, 134,  80,  70, 136,  95,  67,  79, 105, 125],
       [ 94,  56,  90, 131, 134, 147,  89,  62,  72, 146],
       [ 60, 134, 149, 112,  79, 147,  89, 136,  85, 107],
       [149, 121, 149,  74, 126, 142, 115, 106, 131, 132],
       [132, 117, 112, 135, 110,  61,  83,  73, 137, 139],
       [ 72,  78, 143, 115,  57,  70,  77,  70,  95, 113],
       [ 73, 133,  88, 136,  96,  97,  55,  57,  62, 125]])

In [19]:
x.reshape(10,10)-np.diag(np.diag(x.reshape(10,10)))+np.eye(10)

array([[  1., 143., 139., 104.,  91., 102.,  99.,  87.,  99., 147.],
       [ 94.,   1.,  71., 114.,  92.,  71., 123.,  72., 104.,  79.],
       [143.,  76.,   1.,  89.,  82., 110.,  61.,  69.,  98.,  75.],
       [117., 134.,  80.,   1., 136.,  95.,  67.,  79., 105., 125.],
       [ 94.,  56.,  90., 131.,   1., 147.,  89.,  62.,  72., 146.],
       [ 60., 134., 149., 112.,  79.,   1.,  89., 136.,  85., 107.],
       [149., 121., 149.,  74., 126., 142.,   1., 106., 131., 132.],
       [132., 117., 112., 135., 110.,  61.,  83.,   1., 137., 139.],
       [ 72.,  78., 143., 115.,  57.,  70.,  77.,  70.,   1., 113.],
       [ 73., 133.,  88., 136.,  96.,  97.,  55.,  57.,  62.,   1.]])