In [1]:
import pandas as pd
import numpy as np
import random

# a

In [2]:
sr=pd.Series(['Madhuri','AjaySh@rma','R@ni','np.nan','Smita','3567'])

In [3]:
sr.str.len()

0     7
1    10
2     4
3     6
4     5
5     4
dtype: int64

In [4]:
sr=sr.str.replace('@','a')

In [5]:
sr

0       Madhuri
1    AjaySharma
2          Rani
3        np.nan
4         Smita
5          3567
dtype: object

In [6]:
for i in sr:
    print(i.count('a'))

1
3
1
1
1
0

In [7]:
for i in sr:
    print(i.swapcase())

mADHURI
aJAYsHARMA
rANI
NP.NAN
sMITA
3567

In [8]:
for i in sr:
    if(i.count('adh')>0):
        print(i)

Madhuri

In [10]:
print(sr.str.endswith('i'))

0     True
1    False
2     True
3    False
4    False
5    False
dtype: bool

# b

In [11]:
df=pd.DataFrame(np.random.randint(1,100,size=(7,7)))

In [12]:
df

    0   1   2   3   4   5   6
0  69  39  77  44  33  34  13
1  62  71   4  19  22  92  24
2   3  30  81  33  14  76  32
3  42  98  59  25  99  74  96
4  82  31  55  78   7  95  90
5  78  61  61   2  97  95  74
6   2  71  23  35  88  45   1

In [13]:
df.corrwith(df,axis=1)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
dtype: float64

# c

In [14]:
rand_num=np.random.normal(55,150,100)

In [15]:
rand_num

array([ -12.63213173, -132.51809463,  -69.66182615,   -4.55408646,
         73.71837436,   36.4829216 ,  349.13076113,  -82.02575188,
       -159.4144295 , -139.21536949,  -28.21722657,   80.66453662,
        269.08776292, -120.52174081,  307.08985582,  189.07392866,
        146.84026239,   42.8467592 ,  125.13213471,  -47.38948594,
       -121.72272951,  237.55688724,  254.61767618,   57.07123742,
         -6.88887257,  202.32032365,   15.05623288, -161.44249673,
       -256.20997363,  117.20098494,  383.50565039,  114.77446132,
         41.67415643,  145.31365311,  199.71836498,  279.9249933 ,
         76.21242902,  154.61645031,  -38.56881047,  109.2883561 ,
         94.88359964,    6.06714201, -204.54941503, -128.18535095,
         -7.67524279,   50.7639106 ,  172.59318169,  201.10300467,
        164.43434566,  101.63500431,  -34.69147387, -233.51378645,
        142.55384747, -305.18902798,    5.85103298,   26.2365677 ,
        -74.78591787,  202.53112057,  272.52364048,  247.41177047,
          2.07537233, -164.85435035,  292.67336111,   45.16199424,
        264.89219213,   44.77402669,  -87.13213986,   21.04292571,
       -140.78345574,  320.3575734 ,  194.61047003,  185.22504376,
         19.99095863, -120.69104006, -289.38031101,  -55.34396925,
        -82.38624621,  245.84682737,   14.65599417,  115.54927954,
         74.68578268,   86.65629862,   27.8502695 ,   42.49682959,
        146.85040727,  209.26416549, -284.44769707, -182.28417901,
       -134.73901438,  -87.72231036, -132.84338135,  171.25115254,
       -152.04249824,   74.99376601,   35.18844305,  282.04555291,
        269.05461588,  151.07750705,   38.25571876,  314.49532081])

In [18]:
rand_num=rand_num.reshape(10,10)

In [19]:
np. fill_diagonal(rand_num, 1)

In [20]:
rand_num

array([[   1.        , -132.51809463,  -69.66182615,   -4.55408646,
          73.71837436,   36.4829216 ,  349.13076113,  -82.02575188,
        -159.4144295 , -139.21536949],
       [ -28.21722657,    1.        ,  269.08776292, -120.52174081,
         307.08985582,  189.07392866,  146.84026239,   42.8467592 ,
         125.13213471,  -47.38948594],
       [-121.72272951,  237.55688724,    1.        ,   57.07123742,
          -6.88887257,  202.32032365,   15.05623288, -161.44249673,
        -256.20997363,  117.20098494],
       [ 383.50565039,  114.77446132,   41.67415643,    1.        ,
         199.71836498,  279.9249933 ,   76.21242902,  154.61645031,
         -38.56881047,  109.2883561 ],
       [  94.88359964,    6.06714201, -204.54941503, -128.18535095,
           1.        ,   50.7639106 ,  172.59318169,  201.10300467,
         164.43434566,  101.63500431],
       [ -34.69147387, -233.51378645,  142.55384747, -305.18902798,
           5.85103298,    1.        ,  -74.78591787,  202.53112057,
         272.52364048,  247.41177047],
       [   2.07537233, -164.85435035,  292.67336111,   45.16199424,
         264.89219213,   44.77402669,    1.        ,   21.04292571,
        -140.78345574,  320.3575734 ],
       [ 194.61047003,  185.22504376,   19.99095863, -120.69104006,
        -289.38031101,  -55.34396925,  -82.38624621,    1.        ,
          14.65599417,  115.54927954],
       [  74.68578268,   86.65629862,   27.8502695 ,   42.49682959,
         146.85040727,  209.26416549, -284.44769707, -182.28417901,
           1.        ,  -87.72231036],
       [-132.84338135,  171.25115254, -152.04249824,   74.99376601,
          35.18844305,  282.04555291,  269.05461588,  151.07750705,
          38.25571876,    1.        ]])